In [1]:
import numpy as np
import pandas as pd

users = pd.read_csv('../../data/Users.csv', delimiter=';')
books = pd.read_csv('../../data/Books.csv', delimiter=';', dtype={'ISBN': str, 'Title': str, 'Author': str, 'Year': np.int16, 'Publisher': str})
ratings = pd.read_csv('../../data/Ratings.csv', delimiter=';', dtype={'User-ID': np.int32, 'ISBN': str, 'Rating': np.int8})

/var/folders/yn/16crnc792zg2yr78zf0qg0j40000gq/T/ipykernel_3201/914109045.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  users = pd.read_csv('../../data/Users.csv', delimiter=';')

In [2]:
print('Users records:', len(users))
users['Countries'] = [x if (not isinstance(x, (int, float)) and not x.isnumeric()) else None for x in users['Age']]
users['Age'] = [float(x) if (isinstance(x, (str)) and x.isnumeric()) else None for x in users['Age']]
print('Countries', users['Countries'].notna().sum(), 'Ages', users['Age'].notna().sum())

users.drop(columns=['Countries'], inplace=True)

Users records: 278859
Countries 1476 Ages 167151

In [3]:
ratings.head()
ratings['User-ID'].unique().shape

(105283,)

In [4]:
print(ratings.shape)
print(ratings[ratings.Rating > 0].shape)

ratings = ratings[ratings.Rating > 0]

(1149780, 3)
(433671, 3)

In [5]:
books.drop_duplicates(subset='ISBN', inplace=True)
books = books.reset_index()

In [6]:
print("Rated books", ratings['ISBN'].unique().shape, books.shape)

all_books_set = set(books['ISBN'])
rated_books_set = set(ratings['ISBN'])
unrated_books = list(all_books_set - rated_books_set)

print("Books not rated:", len(unrated_books))

Rated books (185973,) (271378, 6)
Books not rated: 121536

In [7]:
books.head()

,index,ISBN,Title,Author,Year,Publisher
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

In [8]:
users.head()

  User-ID   Age
0       1   NaN
1       2  18.0
2       3   NaN
3       4  17.0
4       5   NaN

In [9]:
ratings.head()

   User-ID        ISBN  Rating
1   276726  0155061224       5
3   276729  052165615X       3
4   276729  0521795028       6
6   276736  3257224281       8
7   276737  0600570967       6

In [10]:
import pandas as pd
import torch
from sklearn.preprocessing import LabelEncoder

# Handle missing values
books['Year'] = books['Year'].fillna(books['Year'].median())
users['Age'] = users['Age'].fillna(users['Age'].median())

books.dropna(inplace=True)
users.dropna(inplace=True)
ratings.dropna(inplace=True)

users['User-ID'] = pd.to_numeric(users['User-ID'], errors='coerce')

# Encode categorical variables
isbn_encoder = LabelEncoder()
author_encoder = LabelEncoder()
publisher_encoder = LabelEncoder()
user_encoder = LabelEncoder()
country_encoder = LabelEncoder()

# Merge datasets
ratings_users_merged = ratings.merge(users, left_on='User-ID', right_on='User-ID')
final_df = ratings_users_merged.merge(books, left_on='ISBN', right_on='ISBN')

final_df['ISBN_encoded'] = isbn_encoder.fit_transform(final_df['ISBN'])
final_df['Author_encoded'] = author_encoder.fit_transform(final_df['Author'])
final_df['Publisher_encoded'] = publisher_encoder.fit_transform(final_df['Publisher'])
final_df['User_ID_encoded'] = user_encoder.fit_transform(final_df['User-ID'])

# Select relevant columns
final_df = final_df[['User_ID_encoded', 'ISBN_encoded', 'Rating', 'Age', 'Author_encoded', 'Year', 'Publisher_encoded']]

print(final_df.head())

   User_ID_encoded  ISBN_encoded  Rating   Age  Author_encoded  Year  \
0            67542         13121       5  32.0           31470  2001
1            67543         61684       3  16.0           47694  1999
2            67543         61704       6  16.0           56133  2001
3            67544         38768       7  32.0           24910  2001
4            67545          3136       9  25.0           49200  2003

   Publisher_encoded
0               4785
1               1805
2               1805
3               2953
4               4635

In [11]:
user_features = np.array(final_df[['User_ID_encoded', 'Age']])
item_features = np.array(final_df[['ISBN_encoded', 'Author_encoded', 'Year', 'Publisher_encoded']])
ratings = np.array(final_df['Rating'])

In [16]:
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from tqdm import tqdm

# Split data
train_data, test_data, train_ratings, test_ratings = train_test_split(
    final_df.drop('Rating', axis=1),
    final_df['Rating'],
    test_size=0.2,
    random_state=42
)

# Convert data to PyTorch tensors
train_data_tensor = torch.tensor(train_data.values, dtype=torch.float32)
train_ratings_tensor = torch.tensor(train_ratings.values, dtype=torch.float32)
test_data_tensor = torch.tensor(test_data.values, dtype=torch.float32)
test_ratings_tensor = torch.tensor(test_ratings.values, dtype=torch.float32)

# Define the model
class DNNRecommenderWithFeatures(nn.Module):
    def __init__(self, num_users, num_items, num_user_features, num_item_features, embedding_dim, hidden_dim):
        super(DNNRecommenderWithFeatures, self).__init__()
        self.user_embedding = nn.Embedding(num_users, embedding_dim)
        self.item_embedding = nn.Embedding(num_items, embedding_dim)
        
        self.user_feature_layer = nn.Linear(num_user_features, embedding_dim)
        self.item_feature_layer = nn.Linear(num_item_features, embedding_dim)
        
        self.fc1 = nn.Linear(embedding_dim * 2 * 2, hidden_dim)
        self.fc2 = nn.Linear(hidden_dim, hidden_dim // 2)
        self.fc3 = nn.Linear(hidden_dim // 2, 1)
        
    def forward(self, user_ids, item_ids, user_features, item_features):
        user_embeds = self.user_embedding(user_ids)
        item_embeds = self.item_embedding(item_ids)
        
        user_feature_embeds = self.user_feature_layer(user_features)
        item_feature_embeds = self.item_feature_layer(item_features)
        
        user_combined = torch.cat([user_embeds, user_feature_embeds], dim=1)
        item_combined = torch.cat([item_embeds, item_feature_embeds], dim=1)
        
        x = torch.cat([user_combined, item_combined], dim=1)
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = self.fc3(x)
        return x.squeeze()

# Initialize model, optimizer, and loss function
num_users = len(user_encoder.classes_)
num_items = len(isbn_encoder.classes_)

user_ids = train_data_tensor[:, 0].long()
item_ids = train_data_tensor[:, 1].long()
user_features = train_data_tensor[:, 2:3]
item_features = train_data_tensor[:, 3:]

num_user_features = user_features.shape[1]  # Age
num_item_features = item_features.shape[1]  # Author_encoded, Year, and Publisher_encoded

embedding_dim = 100
hidden_dim = 512

model = DNNRecommenderWithFeatures(num_users, num_items, num_user_features, num_item_features, embedding_dim, hidden_dim)
optimizer = optim.Adam(model.parameters(), lr=0.001)
criterion = nn.MSELoss()

# Training loop
num_epochs = 20
for epoch in tqdm(range(num_epochs)):
    model.train()
    optimizer.zero_grad()
    
    predictions = model(user_ids, item_ids, user_features, item_features)
    loss = criterion(predictions, train_ratings_tensor)
    
    loss.backward()
    optimizer.step()
    
    # print(f'Epoch {epoch+1}/{num_epochs}, Loss: {loss.item()}')
    diff = (predictions-train_ratings_tensor).detach().numpy()
    rmse = (np.sum(diff**2)/len(train_data_tensor))**0.5

    abs_diff = np.absolute(diff)
    mae = np.mean(abs_diff)
    # if epoch % 10 == 0:
    print("rmse:", rmse, "mse:",loss, "mae:",mae)


# Evaluation
model.eval()
with torch.no_grad():
    user_ids = test_data_tensor[:, 0].long()
    item_ids = test_data_tensor[:, 1].long()
    user_features = test_data_tensor[:, 2:3]
    item_features = test_data_tensor[:, 3:]
    
    predictions = model(user_ids, item_ids, user_features, item_features)
    test_loss = criterion(predictions, test_ratings_tensor)
    print(f'Test Loss: {test_loss.item()}')

  5%|▌         | 1/20 [00:05<01:37,  5.13s/it]

rmse: 395.6460277005737 mse: tensor(156535.7969, grad_fn=<MseLossBackward0>) mae: 351.81363

 10%|█         | 2/20 [00:09<01:19,  4.39s/it]

rmse: 4464.954927115793 mse: tensor(19935820., grad_fn=<MseLossBackward0>) mae: 3937.56

 15%|█▌        | 3/20 [00:12<01:10,  4.12s/it]

rmse: 1519.3060907665676 mse: tensor(2308291., grad_fn=<MseLossBackward0>) mae: 1342.469

 20%|██        | 4/20 [00:16<01:02,  3.92s/it]

rmse: 771.4356964750682 mse: tensor(595113.0625, grad_fn=<MseLossBackward0>) mae: 679.8434

 25%|██▌       | 5/20 [00:20<00:57,  3.85s/it]

rmse: 1762.9278439439504 mse: tensor(3107915., grad_fn=<MseLossBackward0>) mae: 1559.5446

 30%|███       | 6/20 [00:23<00:52,  3.76s/it]

rmse: 1821.5645657932555 mse: tensor(3318098., grad_fn=<MseLossBackward0>) mae: 1614.746

 35%|███▌      | 7/20 [00:27<00:48,  3.70s/it]

rmse: 1446.8131983882897 mse: tensor(2093268.3750, grad_fn=<MseLossBackward0>) mae: 1290.4834

 40%|████      | 8/20 [00:30<00:44,  3.68s/it]

rmse: 924.7293370659585 mse: tensor(855124.2500, grad_fn=<MseLossBackward0>) mae: 833.47943

 45%|████▌     | 9/20 [00:34<00:40,  3.68s/it]

rmse: 371.9981137454492 mse: tensor(138382.5938, grad_fn=<MseLossBackward0>) mae: 344.978

 50%|█████     | 10/20 [00:38<00:36,  3.68s/it]

rmse: 180.15496852995105 mse: tensor(32455.8203, grad_fn=<MseLossBackward0>) mae: 155.0214

 55%|█████▌    | 11/20 [00:41<00:33,  3.68s/it]

rmse: 565.8189315725749 mse: tensor(320151.0625, grad_fn=<MseLossBackward0>) mae: 482.23376

 60%|██████    | 12/20 [00:45<00:29,  3.66s/it]

rmse: 757.8660517594686 mse: tensor(574361., grad_fn=<MseLossBackward0>) mae: 646.7525

 65%|██████▌   | 13/20 [00:49<00:25,  3.65s/it]

rmse: 799.0913775286764 mse: tensor(638546.9375, grad_fn=<MseLossBackward0>) mae: 684.2203

 70%|███████   | 14/20 [00:52<00:21,  3.65s/it]

rmse: 731.3244073197767 mse: tensor(534835.3750, grad_fn=<MseLossBackward0>) mae: 628.4637

 75%|███████▌  | 15/20 [00:56<00:18,  3.65s/it]

rmse: 583.2226948319509 mse: tensor(340148.6875, grad_fn=<MseLossBackward0>) mae: 503.73254

 80%|████████  | 16/20 [01:00<00:14,  3.64s/it]

rmse: 394.3238319317807 mse: tensor(155491.2969, grad_fn=<MseLossBackward0>) mae: 342.7856

 85%|████████▌ | 17/20 [01:03<00:10,  3.63s/it]

rmse: 187.76506054351262 mse: tensor(35255.7109, grad_fn=<MseLossBackward0>) mae: 165.70284

 90%|█████████ | 18/20 [01:07<00:07,  3.63s/it]

rmse: 24.73370111397996 mse: tensor(611.7560, grad_fn=<MseLossBackward0>) mae: 20.816355

 95%|█████████▌| 19/20 [01:10<00:03,  3.62s/it]

rmse: 193.13200962133325 mse: tensor(37299.9766, grad_fn=<MseLossBackward0>) mae: 161.59169

100%|██████████| 20/20 [01:14<00:00,  3.73s/it]

rmse: 308.90418477978756 mse: tensor(95421.7891, grad_fn=<MseLossBackward0>) mae: 260.51196

Test Loss: 134706.5625