In [1]:
import numpy as np
import pandas as pd

In [2]:
users = pd.read_csv('../../data/Users.csv', delimiter=';')
books = pd.read_csv('../../data/Books.csv', delimiter=';', dtype={'ISBN': str, 'Title': str, 'Author': str, 'Year': np.int16, 'Publisher': str})
ratings = pd.read_csv('../../data/Ratings.csv', delimiter=';', dtype={'User-ID': np.int32, 'ISBN': str, 'Rating': np.int8})

/var/folders/yn/16crnc792zg2yr78zf0qg0j40000gq/T/ipykernel_2623/2231409931.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  users = pd.read_csv('../../data/Users.csv', delimiter=';')

In [8]:
import sys
sys.path.append('../..')

from src.evaluation import average_precision
from sklearn.model_selection import train_test_split

In [16]:
import re

books_data=books.merge(ratings,on="ISBN")

df=books_data.copy()
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)
# df.drop(columns=["ISBN","Year"],axis=1,inplace=True)
df.drop(index=df[df["Rating"]==0].index,inplace=True)
df["Title"]=df["Title"].apply(lambda x: re.sub("[\W_]+"," ",x).strip())

# df.rename(columns={"Title":"Book-Title", "Author":"Book-Author", "Rating":"Book-Rating"},inplace=True)

<>:10: SyntaxWarning: invalid escape sequence '\W'
<>:10: SyntaxWarning: invalid escape sequence '\W'
/var/folders/yn/16crnc792zg2yr78zf0qg0j40000gq/T/ipykernel_2623/1543249917.py:10: SyntaxWarning: invalid escape sequence '\W'
  df["Title"]=df["Title"].apply(lambda x: re.sub("[\W_]+"," ",x).strip())

In [17]:
df.head(5)

,ISBN,Title,Author,Year,Publisher,User-ID,Rating
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
5,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,67544,8
8,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,116866,9
9,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,123629,9

In [25]:
rating_count=pd.DataFrame(df["Title"].value_counts())
rare_books=rating_count[rating_count["count"]<=20].index
common_books=df[~df["Title"].isin(rare_books)]

common_books.head()
ratings = common_books[['ISBN', 'User-ID', 'Rating']]

In [26]:
train_ratings, test_ratings = train_test_split(ratings, test_size=0.3, random_state=42)

In [27]:
import src.recommenders.item_collaborative_filtering as icf

model = icf.ItemRecommender()
model.fit(users=users, items=books, ratings=train_ratings)

/Users/oleh.sannikov/Documents/Навчання/Науки про дані/RecSys/CP/rs-ucu-books-recommender/experiments/sunnycows/../../src/utils/data_preprocessing.py:81: RuntimeWarning: Mean of empty slice.
  means = np.array([normalized[i].data.mean() for i in range(normalized.shape[0])])
/Users/oleh.sannikov/miniconda3/envs/recsys/lib/python3.12/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [28]:
test_users = test_ratings['User-ID'].unique()[:1000]
len(test_users)

1000

In [29]:
books.shape

(271379, 5)

In [32]:
best_items = model.predict(test_users, items=books)

In [31]:
len(best_items)

1000

In [35]:
best_items

{215180: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 95359:      index        ISBN                               Title        Author  \
 36      36  0375406328                         Lying Awake  Mark Salzman
 107    107  0786868716  The Five People You Meet in Heaven   Mitch Albom

      Year        Publisher
 36   2000  Alfred A. Knopf
 107  2003         Hyperion  ,
 264061: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 29855: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 127200: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 39441: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 76626:       index        ISBN                                              Title  \
 121     121  0743439740  Every Breath You Take : A True Story of Obsess...
 1451   1451  0385508417                                 Skipping Christmas

             Author  Year  Publisher
 121       Ann Rule  2002     Pocket
 1451  JOHN GRISHAM  2002  Doubleday  ,
 273682: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 263674: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 2793: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 189835:     index        ISBN                                 Title         Author  \
 19     19  0452264464  Beloved (Plume Contemporary Fiction)  Toni Morrison
 26     26  0971880107                           Wild Animus   Rich Shapero

     Year Publisher
 19  1994     Plume
 26  2004   Too Far  ,
 81682: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 255347: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 225865: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 213839: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 73056: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 158385: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 37644: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 124066: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 108421: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 198302: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 25409: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 63389: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 234828: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 235105:       index        ISBN                  Title        Author  Year  \
 1400   1400  0140317937  The Neverending Story  Michael Ende  1985

         Publisher
 1400  Penguin USA  ,
 155306: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 238681: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 164425: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 64923: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 252560: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 94529: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 91832: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 94455: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 164533: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 141871: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 276964: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 62558: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 32627: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 11676:      index        ISBN                               Title  \
 102    102  0451166892            The Pillars of the Earth
 562    562  0618173870  Everything Is Illuminated: A Novel

                    Author  Year                 Publisher
 102           Ken Follett  1996               Signet Book
 562  Jonathan Safran Foer  2002  Houghton Mifflin Company  ,
 19573: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 169682: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 75081: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 151122: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 15795: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 80661: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 53414: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 165268: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 61704: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 271176: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 119575:      index        ISBN                    Title                   Author  \
 202    202  0060977493  The God of Small Things            Arundhati Roy
 208    208  0345404793       Protect and Defend  Richard North Patterson

      Year         Publisher
 202  1998         Perennial
 208  2001  Ballantine Books  ,
 266678: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 26120: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 197131: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 43575: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 115062: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 258673: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 13733: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 108197: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 67547: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 35631: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 256475: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 223892: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 42254: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 174890: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 124391: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 184145: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 141178: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 83754: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 245410:     index        ISBN              Title               Author  Year  \
 27     27  0345402871           Airframe     Michael Crichton  1997
 43     43  0061099686           Downtown  Anne Rivers Siddons  1995
 52     52  0440225701  The Street Lawyer         JOHN GRISHAM  1999

            Publisher
 27  Ballantine Books
 43       HarperTorch
 52              Dell  ,
 240318: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 36157: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 69078:     index        ISBN              Title              Author  Year  Publisher
 77     77  0441783589  Starship Troopers  Robert A. Heinlein  1987  Ace Books,
 112580: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 43246: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 28177: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 251844:     index        ISBN                                 Title         Author  \
 19     19  0452264464  Beloved (Plume Contemporary Fiction)  Toni Morrison
 26     26  0971880107                           Wild Animus   Rich Shapero

     Year Publisher
 19  1994     Plume
 26  2004   Too Far  ,
 6345: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 137589:      index        ISBN                          Title               Author  \
 43      43  0061099686                       Downtown  Anne Rivers Siddons
 311    311  0553278746  The Postman (Bantam Classics)           David Brin

      Year      Publisher
 43   1995    HarperTorch
 311  1990  Spectra Books  ,
 266226: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 92807: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 96354: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 246512: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 225087: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 192211: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 89014: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 120765: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 221960: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 140358: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 218638: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 43687: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 177949: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 11709: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 18254: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 70594: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 91404: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 241885: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 150661: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 153507: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 208150: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 104399: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 233287: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 15418: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 9856: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 226205: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 104413: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 98484: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 153662:      index        ISBN                      Title           Author  Year  \
 217    217  0385316895          Legacy of Silence      Belva Plain  1998
 231    231  0452282152  Girl with a Pearl Earring  Tracy Chevalier  2001

                  Publisher
 217  Bantam Dell Pub Group
 231            Plume Books  ,
 270906: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 35836:      index        ISBN                    Title                   Author  \
 202    202  0060977493  The God of Small Things            Arundhati Roy
 208    208  0345404793       Protect and Defend  Richard North Patterson
 218    218  0385497466             The Brethren             JOHN GRISHAM
 219    219  0385508042        The King of Torts             John Grisham

      Year         Publisher
 202  1998         Perennial
 208  2001  Ballantine Books
 218  2000         Doubleday
 219  2003   Doubleday Books  ,
 76223: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 263500: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 30471: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 227631: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 133571: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 184532:      index        ISBN                                    Title       Author  \
 303    303  0375719180  The Miracle Life of Edgar Mint: A Novel  Brady Udall
 311    311  0553278746            The Postman (Bantam Classics)   David Brin

      Year          Publisher
 303  2002  Vintage Books USA
 311  1990      Spectra Books  ,
 68984: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 88412: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 51403: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 261829:      index        ISBN                                    Title  \
 208    208  0345404793                       Protect and Defend
 303    303  0375719180  The Miracle Life of Edgar Mint: A Novel

                       Author  Year          Publisher
 208  Richard North Patterson  2001   Ballantine Books
 303              Brady Udall  2002  Vintage Books USA  ,
 214809: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 71752: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 173190: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 21660: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 46665: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 190925: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 245645: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 117241: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 89851: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 184193: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 129474: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 140970: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 91787: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 241749: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 257703: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 100459:       index        ISBN                   Title        Author  Year Publisher
 175     175  0553278223  The Martian Chronicles  RAY BRADBURY  1984   Spectra
 1107   1107  0553268449       JITTERBUG PERFUME   TOM ROBBINS  1985    Bantam,
 109901:       index        ISBN                  Title        Author  Year  \
 1400   1400  0140317937  The Neverending Story  Michael Ende  1985

         Publisher
 1400  Penguin USA  ,
 201684: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 270713:     index        ISBN     Title               Author  Year         Publisher
 28     28  0345417623  Timeline     MICHAEL CRICHTON  2000  Ballantine Books
 43     43  0061099686  Downtown  Anne Rivers Siddons  1995       HarperTorch
 44     44  0553582909  Icebound       Dean R. Koontz  2000      Bantam Books,
 248131: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 194454: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 71379: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 197750: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 135204: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 268833: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 9637: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 7346:      index        ISBN                   Title        Author  Year Publisher
 175    175  0553278223  The Martian Chronicles  RAY BRADBURY  1984   Spectra,
 197424: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 238120: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 23902:     index        ISBN              Title               Author  Year  \
 27     27  0345402871           Airframe     Michael Crichton  1997
 43     43  0061099686           Downtown  Anne Rivers Siddons  1995
 52     52  0440225701  The Street Lawyer         JOHN GRISHAM  1999

            Publisher
 27  Ballantine Books
 43       HarperTorch
 52              Dell  ,
 103445: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 11224: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 25981:       index        ISBN                                              Title  \
 121     121  0743439740  Every Breath You Take : A True Story of Obsess...
 1451   1451  0385508417                                 Skipping Christmas

             Author  Year  Publisher
 121       Ann Rule  2002     Pocket
 1451  JOHN GRISHAM  2002  Doubleday  ,
 186688: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 216683: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 45751: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 232131:     index        ISBN            Title     Author  Year  \
 48     48  042518630X  Purity in Death  J.D. Robb  2002

                    Publisher
 48  Berkley Publishing Group  ,
 43910:     index        ISBN            Title     Author  Year  \
 48     48  042518630X  Purity in Death  J.D. Robb  2002

                    Publisher
 48  Berkley Publishing Group  ,
 114988: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 136240: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 25047: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 144114: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 53332: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 200226: Empty DataFrame
 Columns: [index, ISBN, Title, Author, Year, Publisher]
 Index: [],
 75591:      index        ISBN                                    Title  \
 287    287  0553280589                                 Eva Luna
 303    303  0375719180  The Miracle Life of Edgar Mint: A Novel
 311    311  0553278746            The Postman (Bantam Classics)

In [33]:
from tqdm import tqdm

rating_mask = test_ratings['Rating'] >= 5

mean_ap = 0
for i in tqdm(range(len(test_users))):
    user_mask = test_ratings['User-ID'] == test_users[i]
    relevant_items = test_ratings.loc[(user_mask & rating_mask)].sort_values(by='Rating', ascending=False)
    if len(relevant_items) == 0:
        continue
    user_id = test_users[i]
    ap = average_precision(best_items[user_id]['ISBN'].to_numpy(), relevant_items['ISBN'].to_numpy(), k=5)
    # print(f"Relevant items: {relevant_items['ISBN'].to_numpy(), best_items[user_id]}")
    mean_ap += ap

mean_ap /= len(test_users)
mean_ap

100%|██████████| 1000/1000 [00:00<00:00, 1009.62it/s]

0.0002666666666666667